#searchBox {
    text-align: center;
}

input {
    width: 200px;
    height: 20px;
    font-size: 14px;
    text-align: center;
}

button{
    width:60px;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: lightgoldenrodyellow;
}


